{% extends "_base.html" %}

{% block content %}
    <div class="content">
        <div class="wrapper">

            {{ content|safe }}

            <ul class="items">
                {# List all subdirectories #}
                {%- for name, data in current_listing | dictsort -%}
                    {% if data.type == 'directory' %}
                        {% set index = data.content['index.html'].parameters %}
                        <li>
                            <a href="{{ name }}/">{{ index.title }}</a>
                            <p>{{ index.short_description }}</p>
                        </li>
                    {% endif %}
                {%- endfor -%}
            </ul>

        </div>
    </div>
{% endblock %}
